<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.izv.dam.newquip">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vistas.main.VistaQuip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistas.notas.VistaNota"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vistas.main.VistaQuip" />
        </activity>
        <activity android:name=".vistas.listas.VistaListas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vistas.main.VistaQuip" />
        </activity>

        <provider
            android:name=".gestion.ContentProviderNota"
            android:authorities="com.izv.dam.newquip"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".gestion.ContentProviderLista"
            android:authorities="com.izv.dam.newquip1"
            android:enabled="true"
            android:exported="true"></provider>

        <paths xmlns:android="http://schemas.android.com/apk/res/android">
            <external-path
                android:name="my_images"
                android:path="Android/data/com.izv.dam.newquip/files/Pictures" />
        </paths>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.izv.dam.newquip2"
            android:enabled="false"
            android:exported="true"></provider>

        <activity
            android:name="res.layout.navigation_drawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>